/* for laptop-screen */
@media screen and (max-width:992px) {
    
    /* header-area */
    .navbar ul{
        display: none;
    }
    .bars-icon{
        display: block;
    }
    .header-bottom{
        gap: 50px 0;
        flex-direction: column;
    }
    .header-bottom br{
        display: none;
    }
}

/* for tab-screen */
@media screen and (max-width:768px) {
    
}

/* for mobile-screen */
@media screen and (max-width:576px) {
    .btn{
        font-weight: 600;
        font-size: .8rem;
        padding: .8rem;
        margin-right: 0.4rem;
    }
    .popup{
        padding: .8rem;
    }
}